@import 'TT_Lakes.css';
@import 'vars';

.brands {
  &__body {
    margin: 0 auto 0;
    min-width: 320px;
    overflow: hidden;
    min-height: 234px;
    background: $body-bc;
  }
  &__title {
    height: 24px;
    padding: 16px;
    color: $brands-title-c;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
		background: linear-gradient(to right, $body-bc 0%, $header-bc 100%);
    margin-bottom: 16px;
  }
  &__swiper {
    padding: 16px;
  }
  &__wrapper {
    margin-bottom: 26px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-radius: 6px;
    border: 1px solid $brands-item-br;
    background: $header-bc;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: pointer;
    padding: 16px;
    transition: opacity 300ms;
  }
	&__item:hover {
		transform: scale(1.05);
    padding: 16px 20px;
	}
  &__circle {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid $brands-icon-c;
    border-radius: 50%;
		transition: opacity 300ms;
  }
  &__arrow {
    margin-left: 11px;
    width: 10px;
    height: 10px;
    border-right: 2px solid $brands-icon-c;
    border-bottom: 2px solid $brands-icon-c;
    transform: rotate(-45deg);
  }
  .swiper-pagination-bullet {
    display: inline-block;
    margin: 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $brands-label-bc;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .swiper-pagination-bullet-active {
    background-color: $brands-label-bc-checked;
  }
  .image-slider .swiper-slide {
    width: auto;
  }
  &__button {
    display: none;
  }
}

@import "brands-button";
@import "media-brands";