.menu {
  &__body {
    margin: 0 auto;
    min-width: 320px;
    background: #fff;
    height: 88px;
    padding: 18px 16px;
    box-sizing: border-box;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item {
    margin-right: 16px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  &__list-item:last-child {
    margin-right: 0;
  }
  &__list-item_hidden {
    display: none;
  }
  &__right {
    display: flex;
  }
  &__repair {
    display: flex;
    align-items: center;
  }
  &__list-item_burger {
    width: 40px;
    height: 40px;
    background-image: url('../images/menu/burger.svg');
  }
  &__list-item_call {
    width: 40px;
    height: 40px;
    background-image: url('../images/menu/call.svg');
  }
  &__list-item_chat {
    width: 40px;
    height: 40px;
    background-image: url('../images/menu/chat.svg');
  }
  &__list-item_profile {
    width: 40px;
    height: 40px;
    background-image: url('../images/menu/profile.svg');
  }
  &__list-item_burger::after {
    content: "";
    display: none;
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #eaeaea;
    position: relative;
    left: 40px;
    top: 0px;
  }
  &__list-item_group::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #eaeaea;
    position: relative;
    left: 16px;
    top: -7px;
  }
	&__list-item_profile::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #eaeaea;
    position: relative;
    left: 40px;
    top: 0px;
  }
}

.repair {
  &__list-item {
    margin-left: 16px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  &__list-item_repair {
    width: 40px;
    height: 40px;
    background-image: url('../images/menu/repair.svg');
  }
  &__list-item_checkstatus {
    width: 40px;
    height: 40px;
    background-image: url('../images/menu/checkstatus.svg');
  }
}