$body-bc: #f8f8f8;
$header-bc: #fff;
$border-c: #b8ffec;
$menu-text-c: #1B1C21;
$brands-title-c: #7e7e82;
$brands-label-bc: #dddddd;
$brands-label-bc-checked: #b5b6bc;
$brands-item-br: #eaeaea;
$brands-icon-c: #ec709f;