@import 'TT_Lakes.css';
* {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", serif;
}

.html {
  font-size: 14px;
}

.brands__body {
  margin: 0 auto 0;
  min-width: 320px;
  overflow: hidden;
  min-height: 234px;
  background: #f8f8f8;
}
.brands__title {
  height: 24px;
  padding: 16px;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: linear-gradient(to right, #F8F8F8 0%, #FFF 100%);
  margin-bottom: 16px;
}
.brands__swiper {
  padding: 16px;
}
.brands__wrapper {
  margin-bottom: 26px;
}
.brands__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  padding: 16px;
  transition: opacity 300ms;
}
.brands__item:hover {
  transform: scale(1.05);
  padding: 16px 20px;
}
.brands__circle {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  transition: opacity 300ms;
}
.brands__arrow {
  margin-left: 11px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #FF3E79;
  border-bottom: 2px solid #FF3E79;
  transform: rotate(-45deg);
}
.brands .swiper-pagination-bullet {
  display: inline-block;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.2s;
}
.brands .swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.brands .image-slider .swiper-slide {
  width: auto;
}
.brands__button {
  display: none;
}

.brands-button {
  margin: 0 24px 34px;
  height: 24px;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.brands-button__images {
  margin-right: 8px;
}
.brands-button__text {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 224px;
  }
}
@media screen and (min-width: 767px) {
  .brands__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .brands .swiper-wrapper {
    margin-bottom: 0;
  }
  .brands .swiper-pagination {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1119px) {
  .brands__body {
    margin: 0 auto;
    min-width: 768px;
    min-height: 322px;
  }
  .brands__title {
    padding: 16px 24px;
  }
  .brands__container {
    padding: 24px 12px;
  }
  .brands .swiper-slide {
    flex-basis: calc(33.33% - 24px);
    margin: 12px !important;
  }
  .brands:not(.show-more) .swiper-slide:nth-child(n+7) {
    display: none;
  }
  .brands__button {
    margin-left: 24px;
    display: flex;
  }
}
@media screen and (min-width: 1119px) {
  .brands__body {
    margin: 0 auto;
    width: 1120px;
  }
  .brands__title {
    padding: 16px 32px;
  }
  .brands__container {
    padding: 32px 16px;
  }
  .brands .swiper-slide {
    flex-basis: calc(25% - 32px);
    margin: 16px;
  }
  .brands:not(.show-more) .swiper-slide:nth-child(n+9) {
    display: none;
  }
  .brands__button {
    margin-left: 32px;
    display: flex;
  }
}/*# sourceMappingURL=brends.css.map */